body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* Header Style */
/* logo-icon */
.h-all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: pink; */
    height: 10vh;
    border-bottom: 1px solid #575757;
}

.o-logo {
    margin: 0;
    overflow: hidden;
    padding: 20px 15px 20px;
}

.o-logo img {
    width: 70px;
    height: 70px;
    transition: 0.3s ease-in-out;
}

.o-logo img:hover {
    cursor: pointer;
    scale: 1.05;
}

/* Navigation Style */
.h-links {
    display: flex;
    text-align: center;
    height: 10vh;
    /* background-color: cyan; */
    align-items: center;
}

.h-links a {
    color: #000;
    text-decoration: none;
    padding: 10px 25px;
    /* background-color: orange; */
    display: block;
}

.h-links a:hover, .h-links a:active {
    border-bottom:1px solid #777;
    color: #000;
    transition: 0.3s ease-in-out;
}

/* icon style */

.h-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 45px;
    /* background: #757575; */
}

.h-icons div {
    padding: 10px 15px;
}

.h-icons div:hover {
    cursor: pointer;
}

.search-icon, .bell-icon, .user-icon {
    width: 30px;
    height: 30px;
}

/* dash-body */
.d-body {
    background-image: url('../imgs/oak-icon-trans.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 95vh;
    display: flex;
    padding: 30px 20px;
    /* background-color: #000; */
    justify-content: space-between;
}

.l-block, .r-block, .m-block {
    height: 95vh;
    width: calc(35% - 35px);  
    margin: calc(2% - 10px) calc(3.5% - 50px);  
    /* background-color: orangered; */
}

.l-block, .m-block {
    border-right: #163c08 solid 1px;
}

/* left block */

.l-block h1 {
    font-family: "Poppins", sans-serif;
    padding: 0 35px;
    font-size: 45px;
    /* background-color: greenyellow; */
}

.date-time {
    font-family: "Poppins", sans-serif;
    padding-left: 35px;
    align-items: center;
    /* background-color: cyan; */
}

.date-time img {
    width: 20px;
    height: 20px;
    padding-right: 10px;
}

.weather-blck {
    border: #163c08 1px solid;
    border-radius: 15px;
    margin: 0 35px;
    margin-top: 15px;
    background: transparent;
    backdrop-filter: blur(10px);
    height: auto;
    width: auto;
    padding: 10px;
    padding-bottom: 35px;
}

.weather-blck select {
    z-index: 10000;
    cursor: pointer;
}

.weather-blck p {
    font-size: 14px;
    padding-left: 18px;
    margin-bottom: -2px;
}

.pin {
    padding-left: 18px;
    padding-top: 15px;
    height: 25px;
    width: 35px;
    padding-right: 8px;
}

.weather-blck div {
    display: flex;
    align-items: center;
}

#a-fields {
    height: 35px;
    border: none;
    /* border-bottom: #000 1px solid; */
    margin-top: 15px;
    padding: 5px 10px;
    font-size: 15px;
    width: 33%;
    background: transparent;
}

#temp {
    font-family: "New Amsterdam", sans-serif;
    font-size: 120px;
    font-weight: 500;
    padding-left: 38px;
    /* background: #000; */
    margin-top: -55px;
}

.w-info sup {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    padding-left: 5px;
    margin-top: -55px;

}

.w-icon {
    width: 100px;
    height: 100px;
}

.w-icon img {
    width: 250px;
    height: 250px;
    margin-top: -60px;
    margin-left: -55px;
    filter: drop-shadow(0px 0px 20px #0000005f);
}

.w-data span {
    display: flex;
    padding: 0 18px;
    margin-top: -25px;
}

.f-weather {
    border: #163c08 1px solid;
    border-radius: 15px;
    margin: 0 35px;
    margin-top: 15px;
    background: transparent;
    backdrop-filter: blur(10px);
    height: auto;
    width: auto;
    padding: 10px;
}

.f-weather ul {
    list-style-type: none;
    display: flex;
    height: fit-content;
}


.f-weather ul li {
    font-size: 10px;
    width: 19%;
}

.f-weather ul li b {
    width: 25px;
    height: 25px;
    margin-top: 50px;
}

.ico-s {
    width: 25px;
    height: 25px;
}

.w-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 18px;
}

/* middle block */
.m-block {
    margin: 0 35px;
}
.m-block h5 {
    font-family: "Poppins", sans-serif;
    padding: 0 5px;
    margin-bottom: 10px;
    margin-top: 35px;
    font-size: 15px;
    font-weight: 400;
}

.map {
    background: transparent;
    backdrop-filter: blur(10px);
    height: 80%;
    margin-right: 35px;
    border: #163c08 1px solid;
    border-radius: 5px;
    overflow: hidden;
}

/* right block */

.f-over {
    background: transparent;
    backdrop-filter: blur(10px);
    border: #163c08 1px solid;
    padding: 0 25px;
    width: 80%;
    margin-top: 20px;
    border-radius: 15px;
    margin-bottom: 25px;
}

.f-over h5 {
    color: #163c08;
    margin-bottom: 5px;
    justify-content: space-between;
}

.f-data p {
    font-size: 14px;
    line-height: 24px;
}

.log-t {
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 100%;
    /* background: #777; */
}

.log-t i {
    font-size: 12px;
    color: #163c08;
    /* background: yellow; */
    text-align: right;
    cursor: pointer;
    align-self: center;
    font-family: "Open Sans", sans-serif;
}

#add-log {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#add-log:hover {
    color: #163c08;
    scale: 1.25;
}

/* pop-up form style */
.popup-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-form-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    width: 400px;
    height: fit-content;
}

.popup-form-content .close {
    cursor: pointer;
    font-size: 40px;
    margin-left: 90%;
    color: rgb(52, 46, 46);
}

.popup-form-content form {
    display: flex;
    flex-direction: column;
}

.popup-form-content h2 {
    margin-top: -58px;
}

.popup-form-content label {
    display: block;
    font-size: 15px;
    margin-bottom: -25px;
    margin-top: 15px;
}

.popup-form-content input {
    width: 70%;
    padding: 8px 8px 8px 25%;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #163c08;
    background: transparent;
}

.popup-form-content input:focus {
    outline: none;
}

.popup-form-content select {
    width: 50%;
    padding: 8px 8px 8px 8px;
    font-size: 15px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #163c08;
    background: transparent;
}

.popup-form-content textarea {
    max-width: 80%;
    width: 80%;
    padding: 10px;
    margin-left: 0px;
    margin-bottom: 10px;
    max-height: 250px;
    height: 100px;
}

#log-title {
    padding: 8px 8px 8px 10%;
}

.popup-form-content button {
    width: 90%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.popup-form-content button:hover {
    background-color: #218838;
}

.locale {
    display: flex;
    align-items: last baseline;
}

#hect {
    width: 20%;
    padding: 8px 8px 8px 48%;
}

#crop {
    width: 30%;
    padding: 8px 8px 8px 12%;
}

#g-insight {
    background: #163c08;
    color: #fff;
    border: none;
    margin-bottom: 15px;
    padding: 10px;
    cursor: pointer;
}

#g-insight:hover {
    background: #1b630c;
}



/* mobile view */
@media screen and (max-width: 769px) {
    .l-block, .r-block, .m-block {
        width: calc(100% - 35px);
        margin: 0 0;
    }

    .l-block, .m-block {
        border-right: none;
    }

    .h-links {
        display: none;
    }

    .h-icons {
        margin-right: 0;
    }

    .d-body {
        padding: 30px 10px;
    }

    .l-block h1 {
        font-size: 35px;
    }

    .date-time {
        padding-left: 10px;
    }

    .weather-blck {
        margin: 0 10px;
    }

    .weather-blck p {
        font-size: 12px;
    }

    .weather-blck div {
        padding-left: 10px;
    }

    #temp {
        font-size: 100px;
    }

    .w-info sup {
        font-size: 18px;
    }

    .w-icon img {
        width: 200px;
        height: 200px;
        margin-top: -50px;
        margin-left: -45px;
    }

    .f-weather {
        margin: 0 10px;
    }

    .f-weather ul li {
        font-size: 8px;
    }

    .f-weather ul li b {
        width: 20px;
        height: 20px;
    }

    .w-flex {
        padding-right: 10px;
    }

    .m-block {
        margin: 0 10px;
    }

    .map {
        margin-right: 10px;
    }

    .f-over {
        padding: 0 10px;
    }

    .f-over h5 {
        font-size: 14px;
    }

    .f-data p {
        font-size: 12px;
    }

    .log-t {
        padding: 0 10px;
    }

    .log-t i {
        font-size: 10px;
    }

    .popup-form-content {
        width: 300px;
    }

    .popup-form-content input {
        width: 80%;
        padding: 8px 8px 8px 15%;
    }

    .popup-form-content select {
        width: 60%;
        padding: 8px 8px 8px 8px;
    }

    .popup-form-content textarea {
        max-width: 90%;
        width: 90%;
    }
}